<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.codelabs.jokopurwanto.finalproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="JP.Shop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity"
            android:label="Beranda">

        </activity>
        <activity
            android:name=".Deskripsi"
            android:label="Deskripsi" />
        <activity
            android:name=".DetailTransaksi"
            android:label="Detail" />
        <activity
            android:name=".DeskripsiIphone"
            android:label="Deskripsi" />
        <activity
            android:name=".DeskripsiSandisk"
            android:label="Deskripsi" />
        <activity
            android:name=".DeskripsiPolo"
            android:label="Deskripsi" />
        <activity
            android:name=".DeskripsiXiaomi"
            android:label="Deskripsi" />
        <activity
            android:name=".DeskripsiJam"
            android:label="Deskripsi" />
        <activity
            android:name=".DetailIphone"
            android:label="Detail" />
        <activity
            android:name=".DetailSandisk"
            android:label="Detail" />
        <activity
            android:name=".DetailPolo"
            android:label="Detail" />
        <activity
            android:name=".DetailXiaomi"
            android:label="Detail" />
        <activity
            android:name=".DetailJam"
            android:label="Detail" />
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
